

.main-game {
    background-image: url("media/images/background.jpg");
}

.modal-dialog {
    --bs-modal-width: 40vw;
}


.URM {
    flex-basis: 35%;
}
.URM-img {
    width: 100%;
    height: 100%;
    background-color: red;
}
.e-wastes{
    background-color: antiquewhite;
}
.e-wastes img{
    width: 10vw;
}
.iphone {
    flex-basis: 35%;
}
#Win-lose-Modal p {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}