

.navbar-nav > li{
    padding-left:50px;
    padding-right:50px;
  }

a:hover{
    background-color: #dcdee0;    
  }

.navbar-text{
    display: none;
}

@media screen and (max-width: 992px) {

    .navbar-nav > li{
        padding: 0%;
      }

    .btn{
        width: 100%;
    }
    .navbar-text{
        display: contents;
    }

}








